<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.20">
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.49">
    <script>node (&apos;worker_node2&apos;) {
    def myImg

    stage(&apos;Get Source&apos;) {

              git &apos;http://github.com/brentlaster/gradle-greetings.git&apos;

    }
    stage(&apos;Build&apos;) {

            sh &apos;gradle -version&apos;
            sh &apos;gradle clean build&apos;

    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
